<div class="container-fluid bg-info">
        <div class="row">
            <div class="col-md-12 border-bottom">
                <nav class="navbar navbar-expand-md navbar-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-active">
                            <li class="nav-item active">
                                <a class="nav-link" routerLink="/ordinateurs"> <button class="btn btn-info">Liste des ordinateurs</button><span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a id="btnAjouter" class="nav-link" routerLink="/ajout-ordinateurs"><button class="btn btn-info">Ajouter un ordinateur</button></a>
                            </li>
                            
                        </ul>
                    </div>
                </nav>
            </div>
        </div>